@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --dark-background-color: #1f2937;
  --hero-text: #f9faf8;
  --hero-secondary: #e5e7eb;
  --action-color: #3882f6;
  --info-header: #1f2937;
  --quote-background: #e5e7eb;
  --quote-text: #1f2937;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  color: var(--info-header);
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  font-size: 18px;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  gap: 100px;
}

.header .logo {
  color: var(--hero-text);
  font-weight: 900;
  font-size: 24px;
}

.header,
.hero-section {
  background-color: var(--dark-background-color);
  color: var(--hero-text);
}

.header a,
.hero-main p {
  color: var(--hero-secondary);
}

.hero-section {
  padding: 90px;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-main {
  max-width: 400px;
}

.hero span {
  display: block;
  color: var(--hero-text);
  font-size: 48px;
  font-weight: 700;
}

.hero image {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.signup-btn-main,
.signup-btn {
  background-color: var(--action-color);
  color: var(--hero-text);
  font-size: 18px;
  margin: auto;
  padding: 7px 30px;
  border-radius: 7px;
}

.signup-btn-main:hover {
  background-color: var(--hero-text);
  color: var(--action-color);
}

.info-section {
  text-align: center;
  margin-top: 50px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 50px;
  gap: 50px;
}

.item {
  max-width: 150px;
}

.square {
  margin: 0;
  padding: 70px 45px;
  border: 4px solid var(--action-color);
  border-radius: 10px;
}

.quote {
  background-color: var(--quote-background);
  color: var(--quote-text);
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.quote p {
  max-width: 775px;
  padding: 100px;
}

.quote span {
  display: flex;
  justify-content: end;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  max-width: 800px;
}

.action {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-card {
  background-color: var(--action-color);
  border-radius: 7px;
  padding: 40px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.action-text span {
  display: block;
  color: var(--hero-text);
  font-size: 20px;
  font-weight: 600;
}

.action p {
  color: var(--hero-secondary);
}

.signup-btn {
  border: 2px solid var(--hero-text);
}

.signup-btn:hover {
  color: var(--action-color);
  background-color: var(--hero-text);
}

.footer {
  background-color: var(--dark-background-color);
  color: var(--hero-secondary);
  text-align: center;
  padding: 50px;
}
